In [ ]:
######Data_Sturcture_Assignment

In [3]:
# 1. Create a string with your name and print it
name = "Sachin Kushwaha"
print(name)

Sachin Kushwaha

In [4]:
# 2. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [5]:
# 3. Slice the first 3 characters from "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [6]:
# 4. Convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [7]:
# 5. Replace "apple" with "orange" in "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [8]:
# 6. Create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [9]:
# 7. Append number 10 to list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
# 8. Remove number 3 from list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# 9. Access the second element in list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [12]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [14]:
# 12. Access the second-to-last element of tuple
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [15]:
# 13. Find the minimum number in tuple (10, 20, 5, 15)
tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [16]:
# 14. Find the index of "cat" in ('dog', 'cat', 'rabbit')
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

In [17]:
# 15. Check if "kiwi" is in a tuple of three fruits
tpl = ('apple', 'banana', 'kiwi')
print("kiwi" in tpl)

True

In [18]:
# 16. Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [19]:
# 17. Clear all elements from set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [20]:
# 18. Remove element 4 from set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [21]:
# 19. Find union of sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [22]:
# 20. Find intersection of sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [23]:
# 21. Create dictionary with keys "name", "age", and "city"
d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [24]:
# 22. Add "country": "USA" to dictionary
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Access value with key "name"
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [26]:
# 24. Remove key "age" from dictionary
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Check if "city" key exists
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [29]:
# 26. Create list, tuple, and dictionary, then print
lst = [1, 2, 3]
tpl = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(lst, tpl, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [30]:
# 27. List of 5 random numbers between 1 and 100, sort and print
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[5, 30, 31, 48, 59]

In [31]:
# 28. Create list with strings and print element at third index
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [32]:
# 29. Combine two dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
# 30. Convert list of strings into a set
lst = ["apple", "banana", "cherry"]
s = set(lst)
print(s)

{'banana', 'apple', 'cherry'}